/* @font-face 추가 시작 */
@font-face {
  font-family: "AritaBuri";
  src: url("/fonts/AritaBuriKR-Medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AritaBuri";
  src: url("/fonts/AritaBuriKR-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoMono";
  src: url("/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: 300 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 300 600;
  font-style: normal;
  font-display: swap;
}
/* @font-face 추가 끝 */

@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "AritaBuri", serif;
  --font-mono: "RobotoMono", monospace;

	--color-foreground: #0c0c0c;
	--color-foreground-dark: #fafafa;
	--color-background: #ffffff;
	--color-background-dark: #2b2b2b;
	--color-primary: #2563eb;
	--color-primary-dark: #93c5fd;
}

html {
  font-size: 14px;
	scroll-padding-top: 6.5rem;
	scroll-behavior: smooth;
}

.app-container {
  @apply px-5 sm:px-10 2xl:px-12;  /* 기존 px-6 sm:px-12 2xl:px-16 → 줄임 */
}

#mobile-menu.mobile-nav-open {
	@apply translate-x-0 shadow-xl/30;
}

.btn-primary {
	@apply w-fit flex gap-2 bg-foreground text-background dark:bg-foreground-dark dark:text-background-dark px-5 py-3 md:px-4 md:py-2 rounded-lg items-center mt-4 hover:opacity-75 transition-opacity;
}

.btn-secondary {
	@apply w-fit flex gap-2 bg-foreground/10 text-foreground dark:bg-foreground-dark/10 dark:text-foreground-dark px-5 py-3 md:px-4 md:py-2 rounded-lg items-center mt-4 hover:opacity-75 transition-opacity;
}

.section-title {
	@apply text-3xl font-semibold pb-3;
}

.posts-grid-container {
	@apply grid my-6 md:grid-cols-2 xl:grid-cols-4 gap-6;
}

/* Post content */
.prose iframe {
	@apply my-16 mx-auto w-11/12 aspect-video rounded-xl;
}

/* 인라인 수식만 일반 텍스트와 맞추고 싶을 때 (선택) */
.prose .katex {
  font-size: 1em !important; /* 수식을 본문 크기와 동일하게 강제 */
}

.prose small {
  color: rgb(107 114 128);
  font-style: normal;
  font-weight: 400;
}