---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<main class="app-container pt-36">
		<h1 class="text-6xl pb-2 font-bold">About Me</h1>
	</main>
	<section class="app-container py-12 mb-8">
		<div
			class="prose prose-neutral prose-lg md:prose-xl dark:prose-invert prose-img:rounded-xl prose-figure:text-center prose-img:mx-auto"
		>
			<p>
				I'm Miro, a student majoring in mechanical system design engineering. I'm interested in math, physics, artificial intelligence, and various other fields, including music production and language learning.
			</p>
			<p>
				안녕하세요. Miro입니다. 수학, 물리, AI, 음악, 언어공부 등 여러 관심사에 대해 얕고 넓게 다루는 블로그입니다.
			</p>
			<h4>Interests</h4>
				<ul>
					<li>Math, Physics, and Engineering</li>
					<li>Artificial Intelligence and Machine Learning</li>
					<li>Music Production and Audio Engineering</li>
					<li>Language Learning and Linguistics</li>
					<li>Psychology</li>
				</ul>
			<h4>Stacks</h4>
				<ul>
					<li>LaTeX, Typst</li>
					<li>Python</li>
					<li>Ableton Live, FL Studio</li>
				</ul>
			<h4>Ongoing</h4>
				<ul>
					<li>Learning French</li>
					<li>Exploring advanced AI models and their applications</li>
					<li>Improving music production skills</li>
					<li>Learning C/C++</li>
					<li>Serving Blog with DIY website</li>
				</ul>
		</div>
	</section>
</BaseLayout>
